version: "3.9"
services:
  eurekaserver:
    build: C:\Users\habensalah\IdeaProjects\eureka
    container_name: eurekaserver
    image: eurekaserver
    networks:
      - eureka-server
    ports:
      - "8761:8761"
  microservice-demo:
    build: C:\Users\habensalah\IdeaProjects\gestionCandidat
    image: gestioncondidat
    ports:
      - "8081:8081"
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurekaserver:8761/eureka
    depends_on:
      - eurekaserver
    networks:
      - eureka-server
  mysqlservice:
    build: C:\Users\habensalah\Downloads\nodejs
    image: mysqlimage
    networks:
      - eureka-server
    ports:
      - "3306:3306"
  nodejsservice:
    build: C:\Users\habensalah\Downloads\nodejs\nodedockerfile
    image: my-node-app
    networks:
      - eureka-server
    ports:
      - "3000:3000"
    depends_on:
      - eurekaserver
      - mysqlservice
networks:
  eureka-server:
    name: eureka-server
    driver: bridge